html {
    
    height: 100%;
}
body {
    height: 100%;
    background-image: url("cs.webp");
    background-size: cover;
    overflow: hidden;
}

#canvas2 {
    background-image: url("maps/dust2.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    border: 1px solid orange;
}

#canvasMenu {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #b24c95;
    text-align: center;
    position: absolute;
}

#canvasDiv {
    width: 80%;
    height: 50%;
    float: right;
    background-color: red;
}

#canvasMenu button, label{
    width: 100%;
}
.footer {
    border-style: solid;
    background: black;
    height: 10vh;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.header {
    border-style: solid;
    background: black;
    float: top;
}
.space {
    
}

.team {
}
.allButtons {

}