body {
    background-image: url("cs.webp");
    background-size: cover;
    overflow: hidden;
}

.row button {
    margin-top: 20px;
}

#canvas2 {
    background-image: url("maps/inferno.png");
    background-size: 100% 100%;
}

.asdf {
    margin-left: 0px;
}